<div class="course-details">
  <h1 >{{ course.title }}</h1>
  <p >{{ course.description }}</p>
  <div class="course-meta">
    <!-- <p><strong>Rating:</strong> {{ course.rating || 'N/A' }} ({{ course.reviews || 0 }} reviews)</p> -->
  </div>
<div>
  <h2>נושאים הנלמדים בקורס זה:</h2>
  <div class="topics-info">
    <ul>
      <li *ngFor="let topic of course.topics">{{ topic }}</li>
    </ul>
  </div>
</div>
<div class="instructor-profile">
  <div class="instructor-details">
    <h3>מנחה: מירי מנקס</h3>
    <p>      מירי מנקס היא טכנאית במה מובילה ומוערכת, עם למעלה מ-15 שנות ניסיון עשיר בתעשיית האירועים וההפקות. בעבודתה, מירי התמקצעה בתפעול מערכות תאורה, סאונד, ובימוי מאחורי הקלעים, ועבדה במגוון רחב של הפקות – מאירועי תרבות ובידור ועד לכנסים מקצועיים ותערוכות גדולות.
      לאורך הקריירה שלה, מירי נודעה ביכולותיה הגבוהות לשלב בין דיוק טכני לבין יצירתיות ומענה לצרכים המשתנים של הלקוחות. יכולות אלה, יחד עם התשוקה שלה לתחום, הפכו אותה לאחת מהדמויות הבולטות בתחום טכנאות הבמה.
      כבר 5 שנים שמירי מעבירה את הידע והניסיון הרב שלה לדור הבא של טכנאי הבמה. כמנחה וכמורה, מירי ידועה בגישה המקצועית, בהסברים הברורים שלה וביכולת להפוך מושגים טכניים למובנים ונגישים. היא שמה דגש על למידה מעשית ומספקת לתלמידיה כלים פרקטיים להתמודדות עם אתגרי השטח.
      אם אתם מחפשים ללמוד ממומחית אמיתית, עם ניסיון עשיר ורקע מקצועי מרשים, הקורסים של מירי מנקס הם הבחירה המושלמת עבורכם.
    </p>
  </div>
  <div class="profile-image-container">
    <img src="assets\img\miri menkes.jpg" alt="Profile of Miri Mankes" class="profile-image" />
  </div>
</div>
<ng-template #loading>
<p>Loading course details...</p>
</ng-template>