<div class="course-container">
  <div class="course-details">
    <h1 class="course-title">{{ course.title }}</h1>
    <p class="course-description">{{ course.description }}</p>
    <div class="course-meta">
      <!-- ניתן להוסיף דירוג אם קיים -->
    </div>
    <h2 class="topics-title">נושאים הנלמדים בקורס זה:</h2>
    <div class="topics-info">
      <ul>
        <li *ngFor="let topic of course.topics"> {{ topic }}</li>
      </ul>
    </div>
  </div>
  <div class="instructor-card">
    <div class="card-header">
      <img src="assets/img/miri menkes.jpeg" alt="מנחה הקורס" class="instructor-image" />
    </div>
    <div class="card-body">
      <h3 class="instructor-name">מנחת הקורס : מירי מנקס</h3>
      <p class="instructor-description">
        טכנאית במה מובילה עם למעלה מ-15 שנות ניסיון בתחום הסאונד וההפקות. שילוב ייחודי בין דיוק טכני ויצירתיות גבוהה להפקת אירועים ברמה הגבוהה ביותר.
      </p>
    </div>
  </div>
  
</div>


<ng-template #loading>
  <p>Loading course details...</p>
</ng-template>
