.course-details {
  background-color: black;
  color: white;
  position: relative; /* שיניתי מ-static ל-relative */
  display: block;
  width: 80%;
  height: auto; /* משנה את הגובה באופן דינמי */
  z-index: 1;
  margin-top: 20px;
  padding: 20px;
}

h1 {
  margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: left; /* מיישר את הכותרת לשמאל */
}

h2 {
  font-size: 20px;
  text-align: left; /* מיישר את החלק של נושאים לשמאל */
  font-weight: bold;
  margin-bottom: 10px;
}


.course-sidebar {
  width: 100%;
  max-width: 300px; /* מקסימום רוחב */
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.course-sidebar img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.course-sidebar h3 {
  margin-top: 10px;
  text-align: center;
}
ul {
  list-style-type: none; /* מסיר את הנקודות ברשימה */
  padding-left: 0; /* מסיר את הרווח בצד שמאל */
}

li::before {
  content: '✓'; /* מוסיף את ה-V הצהוב */
  color: yellow; /* צבע צהוב */
  font-size: 20px; /* גודל ה-V */
  margin-right: 10px;
  font-weight: bold; /* רווח קטן מימין ל-V */
}

