<div class="lessons-container">
  <div *ngIf="selectedLesson?.video_url" class="video-and-transcript">
    <!-- YouTube Video -->
    <div class="video-wrapper">
      <div #video class="youtube-player"></div>
    </div>

    <!-- Transcript -->
    <div *ngIf="filteredTranscript.length > 0" class="transcript-container" #transcriptContainer>
      <div *ngFor="let line of filteredTranscript" class="transcript-line-wrapper">
        <div
          [class.active]="line.isActive"
          class="transcript-line"
        >
          {{ line.text }}
        </div>
      </div>
    </div>
    <div *ngIf="filteredTranscript.length === 0" class="no-transcript-message">אין תמלול זמין לשיעור זה</div>
  </div>

  <div class="lessons-list">
    <div class="list-header">{{ selectedLesson?.description || 'בחר שיעור לצפייה' }}</div>
    <div class="scrollable-list">
      <div
        class="lesson-item"
        *ngFor="let lesson of lessons"
        [class.active]="lesson === selectedLesson"
        [class.disabled]="!lesson.video_url"
        (click)="selectLesson(lesson)"
      >
        <div class="lesson-content">
          <span class="lesson-title">{{ lesson.title }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
