.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  font-family: Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 50px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.categories {
  font-size: 17px;
  color: #333;
  cursor: pointer;
  font-weight: bold;
}

.navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 20px;
  overflow: hidden;
  width: 650px;
  height: 30px;
  background-color: #f9f9f9;
}

.search-bar input {
  border: none;
  padding: 5px 10px;
  outline: none;
  flex: 1;
  font-size: 14px;
}

.search-bar button {
  border: none;
  background: none;
  padding: 5px 10px;
  cursor: pointer;
  height: 40px;
}

.search-bar i {
  color: #666;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-right span {
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.navbar-right i {
  font-size: 16px;
  cursor: pointer;
}

.login {
  border: solid;
  background-color: transparent;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  height: 40px;
  width: 60px;
  border-radius: 0.313rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.signup {
  background-color: #333;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 0.313rem;
  cursor: pointer;
  height: 40px;
  width: 60px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login:hover {
  background-color: #333; /* צבע רקע שחור כשלוחצים על כפתור הלוגין */
  color: white; /* טקסט לבן */
}

.signup:hover {
  background-color: transparent; /* צבע רקע שקוף כשלוחצים על כפתור ההרשמה */
  color: #333; /* טקסט שחור */
  border: 2px solid #333; /* מסגרת שחורה */
}


.username {
  font-weight: bold;
  color: black; 
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  font-family: Arial, sans-serif;
}

@media (max-width: 768px) {
  .search-bar {
    width: 100%;
  }

  .navbar {
    padding: 10px;
    height: auto;
  }

  .navbar-left {
    flex: 1;
  }

  .navbar-right {
    gap: 10px;
  }

  .login, .signup {
    font-size: 12px;
  }

  .logo {
    height: 35px;
  }
}

@media (max-width: 480px) {
  .search-bar {
    width: 100%;
  }

  .navbar {
    height: auto;
    padding: 8px 15px;
  }

  .categories {
    font-size: 14px;
  }

  .navbar-right span {
    font-size: 12px;
  }

  .logo {
    height: 30px;
  }

  .login, .signup {
    height: 35px;
    font-size: 12px;
  }

  .user-info {
    padding: 5px 10px;
  }
}

@media (min-width: 1200px) {
  .search-bar {
    width: 650px;
  }

  .navbar {
    height: 50px;
  }

  .logo {
    height: 40px;
  }

  .categories {
    font-size: 17px;
  }

  .navbar-right {
    gap: 15px;
  }
}
