<header class="navbar">
  <div class="navbar-left">
    <a routerLink="" (click)="onLogoClick()">
      <img class="logo" src="assets/img/logo1.png" alt="Logo" />
    </a>
  </div>
  <div class="navbar-center">
    <div class="search-bar">
      <span class="search-icon">
        <i class="fas fa-search"></i>
      </span>
      <input
        type="text"
        [(ngModel)]="searchTerm"
        (input)="onSearch(searchTerm)"
        placeholder="חיפוש"
        class="search-input"
      />
    </div>
  </div>
  <div class="navbar-right">
    <div *ngIf="(userService.user$ | async) as user; else notLoggedIn">
      <div class="user-profile">
        <div class="profile-wrapper">
          <i class="fa fa-user-circle profile-icon"></i>
          <span class="user-name">{{ user.username }}</span>
        </div>
        <button class="login" (click)="onLogout()">התנתק</button>
      </div>
      
      
      
    </div>

    <ng-template #notLoggedIn>
      <i class="fa fa-shopping-cart"></i>
      <button class="login" (click)="onLoginClick()">כניסה</button>
      <button class="signup" (click)="onSignupClick()">הרשמה</button>
    </ng-template>
  </div>
</header>
