.blurred {
  filter: blur(5px);
  pointer-events: none;
  opacity: 0.5;
  user-select: none;
  transition: all 0.3s ease; /* מוסיף מעבר חלק */
}

  .content-area {
    margin-right: 70px; /* משאיר מרווח מצד ימין */
    padding: 20px;
  }
  