<!-- <div [ngClass]="{ 'blurred': isLoginOrSignupOpen }"> -->
  <!-- <app-search-bar></app-search-bar>
  <app-course-list></app-course-list>
  <app-recommendations></app-recommendations>
</div> -->

<div class="content-area" [ngClass]="{'blurred': isLoginOrSignupOpen}">
  <app-side-menu></app-side-menu>
  <app-search-bar (openLogin)="onLoginClick()" (openSignup)="onSignupClick()"></app-search-bar>
  <router-outlet></router-outlet>
</div>

<!-- הצגת קומפוננטות login ו-signup באופן מותנה -->
<app-login *ngIf="isLoginOpen" (closeModal)="onCloseLoginOrSignup()"></app-login>
<app-signup *ngIf="isSignupOpen" (closeModal)="onCloseLoginOrSignup()"></app-signup>
