.blurred {
    filter: blur(5px); /* רמת הטשטוש */
    pointer-events: none; /* לא מאפשר אינטראקציה */
    user-select: none; /* מונע בחירה */
  }
  
  .content-area {
    margin-right: 70px; /* משאיר מרווח מצד ימין */
    padding: 20px;
  }
  