.course-card {
  margin-top: 30px;
    width: 18.75rem; 
  height: 90%; /* הגובה יותאם לפי התוכן */

  border: 2px solid #ffcc00;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  box-sizing: border-box; 
  width: 300px;
  padding: 20px;
  margin-left: 50px;
  z-index: 3;
  position: relative;
}

.course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.course-image {
  width: 100%;
  height: 40%; 
  object-fit: cover;
  border-radius: 0; 
  margin-bottom: 0.9375rem; 
}

.course-title {
  position: relative;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.625rem 1rem 0.5rem;
  text-align: center;
}

.course-title:hover::after {
  content: attr(data-description); /* הצגת התיאור */
  position: absolute;
  top: 120%; /* הצגת התיאור מתחת לכותרת */
  left: 50%;
  transform: translateX(-50%);
  width: 12.5rem;
  padding: 0.625rem;
  background-color: #000;
  color: #fff;
  font-size: 0.9rem;
  border-radius: 0.313rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  white-space: normal;
  z-index: 10;
}

.course-details {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 1rem;
  font-size: 0.8rem;
  color: #777;
}

.register-button {
  display: block;
  width: calc(100% - 2rem);
  margin: 0.625rem auto;
  padding: 0.625rem;
  background-color: #ffcf00;
  color: #000;
  border: none;
  border-radius: 0.313rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #e5b800;
}