/* Form */
.registration-form {
  max-width: 25rem; /* 400px / 16 */
  width: 100%; 
  margin: 2rem auto; /* 32px / 16 */
  padding: 1.5rem; /* 24px / 16 */
  border: 0.0625rem solid #000; /* 1px / 16 */
  border-radius: 0.5rem; /* 8px / 16 */
  background-color: #f9f9f9; /* רקע בהיר וידידותי */
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1); /* 2px / 10px */
  transition: all 0.3s ease-in-out; 
  direction: rtl; /* טקסט מימין לשמאל */
  text-align: right; /* יישור טקסט לימין */
}

/* הודעה בראש הטופס */
.registration-form h1 {
  font-size: 1.2rem; /* 19px / 16 */
  text-align: center;
  color:#ffcf00; /* ירוק ידידותי */
  margin-bottom: 1rem; /* 16px */
}

/* Form Title */
h2 {
  text-align: center; /* הכותרת נשארת במרכז */
  font-size: 1.5em;
  margin-bottom: 1rem; /* 16px / 16 */
  color: #ffcf00; /* Yellow */
  font-family: 'Arial', sans-serif;
  font-weight: 600;
}

/* Labels */
label {
  display: block;
  font-size: 1em;
  margin-bottom: 0.375rem; /* 6px / 16 */
  color: #000; /* Black */
  text-align: right; /* יישור טקסט לימין */
}

/* Input Fields */
input {
  width: calc(100% - 2rem); /* פחות שוליים */
  padding: 0.5rem; /* 8px */
  margin: 0.5rem auto; /* רווחים מסביב */
  border: 0.0625rem solid #ccc; /* 1px / 16 */
  border-radius: 0.25rem; /* 4px / 16 */
  font-size: 0.9rem; /* מעט קטן יותר */
  transition: border-color 0.3s ease;
  text-align: right; /* יישור טקסט לימין */
  display: block;
  box-sizing: border-box;
}

/* Input Hover Effect */
input:focus {
  border-color: #ffcf00; 
  outline: none;
  box-shadow: 0 0 0.25rem rgba(255, 207, 0, 0.5); /* 4px / 16 */
}

/* Button */
button {
  width: calc(100% - 2rem);
  margin: 1rem auto; /* ריווח לפני הכפתור */
  padding: 0.75rem; /* 12px / 16 */
  background-color:#ffcf00; /* ירוק */
  color: white; 
  border: none;
  border-radius: 0.25rem; /* 4px / 16 */
  cursor: pointer;
  font-size: 1rem; /* גודל סטנדרטי */
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: block;
}

button:hover {
  background-color:#ffcf00; /* ירוק כהה יותר */
  transform: scale(1.05);
}

/* Disabled Button */
button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

/* Error Messages */
.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 0.3125rem; /* 5px / 16 */
  margin-bottom: 0.625rem; /* 10px / 16 */
  text-align: right; /* יישור שגיאות לימין */
}

.error-message span {
  display: block; 
}
