<div *ngIf="resetPasswordForm && timer > 0">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSendCode()">
    <input formControlName="email" placeholder="אימייל" type="email" />
    <button type="submit" [disabled]="!resetPasswordForm.get('email')!.valid">שלח קוד</button>
  </form>
  <p>זמן שנותר: {{ timer }} שניות</p>
  <p *ngIf="errorMessage">{{ errorMessage }}</p>
</div>

<div *ngIf="resetPasswordForm && timer === 0">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
    <input formControlName="code" placeholder="קוד אימות" type="text" />
    <input formControlName="newPassword" placeholder="סיסמה חדשה" type="password" />
    <button type="submit" [disabled]="!resetPasswordForm.valid">איפוס סיסמה</button>
  </form>
  <p *ngIf="errorMessage">{{ errorMessage }}</p>
</div>
