.course-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem; 
  justify-content: center;
}

.course-list.hidden {
  display: none;
}

.course-list-header {
  padding-top: 6rem; 
  display: flex;
  justify-content: flex-end; 
  padding-right: 2rem;
}

.course-list-header h2 {
  font-size: 2rem; 
  font-weight: bold;
  color: #333; 
  text-align: right; 
  border-bottom: 2px solid #ffcf00; 
  padding-bottom: 0.5rem; 
}
