<div class="course-container">
  <div  *ngIf="!selectedCourse">
    <div class="course-list-header">
      <h2>הקורסים שלנו</h2>
    </div>
    <div class="course-list">
    <!-- <app-search-bar (search)="filterCourses($event)"></app-search-bar> -->
    <app-course *ngFor="let course of filteredCourses" [course]="course" (click)="selectCourse(course)"></app-course>
  </div>
  </div>
  <app-recommendations></app-recommendations>

  
  <!-- <div class="course-details-container" *ngIf="selectedCourse">
    <div class="course-card">
      <app-course [course]="selectedCourse"></app-course>
    </div>
    <div class="course-details">
      <app-course-details [course]="selectedCourse"></app-course-details>
      <button class="back-button" (click)="clearSelection()">חזרה לרשימת הקורסים</button>
    </div>
  </div> -->

</div>
